registry=https://cegedimtest.jfrog.io/artifactory/api/npm/cegedimtest
_auth=anVhbmNhcmxvc3JlbmdpZm9AY2FwaXRvbGUtY29uc3VsdGluZy5jb206QVA3NThtektZbk1FeVFVdVMyRFdUbVRobW93
always-auth=true
email=juancarlosrengifo@capitole-consulting.com

registry=https://registry.npmjs.org
